/*
Memory Game
CSS file
By Ulysse Valdenaire
21/08/20251
*/

body {
  background: rgb(20, 28, 100);
  color: white;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h3 {
  margin-left: 50px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 380px;
  width: 384px;
  margin: auto;
  padding: 10px;
  border: 10px solid black;
  border-radius: 10px;
}